@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-bg-contrast: #000000;
  --dark-bg: #111111;
  --dark-border: #333333;
}



* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth !important;
}

body {
  background-color: white !important;

}

.container {
  max-width: 1100px;
  margin: 0 auto; /* center horizontally */
  display: flex;
}

.sidenav {
  position: fixed;
  width: 250px; /* fixed width of navbar */
  /* add any other styling for the navbar */
  overflow-y: scroll;
}

.sidenav ul {
  border-left: 1px solid darkgray;
  list-style: none;
}

.sidenav ul li{
  font-size: 16px;
  padding: 12px;
  color: darkgray;
}

.sidenav ul li:hover {
  color: white;
}

.main-content {
  flex: 1; /* takes up remaining space */
  /* add any other styling for the main content */
}

code {
  font-size: 16px !important;
}

.content-br {
  padding-top: 50px;
  padding-bottom: 50px;
}

.active-link {
  color: #31cbff !important;
}