.dropdown {
    color: white;
    font-size: 19px;
}

.dropdown-content {
    font-size: 15px;
    padding: 20px;
}

.Collapsible__trigger {
    display: block;
    text-decoration: none;
    position: relative;
    padding: 10px;
    color: white;
    background-color: var(--cat-mocha-surface0);
}