.dropdown {
    color: white;
    background: var(--cat-mocha-mantle);
    border-radius: 10px;
    border: 2px solid var(--cat-mocha-surface0);
    font-size: 19px;
}

.dropdown-content {
    color: green;
    font-size: 15px;
    padding: 20px;
}

.Collapsible__trigger {
    border-radius: 10px;
    display: block;
    text-decoration: none;
    position: relative;
    padding: 10px;
    background: var(--cat-mocha-base);
    color: white;
}
