header {
    font-family: 'Prompt', sans-serif;
    font-size: 17px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    color: var(--cat-mocha-green);
    text-align: center;
    background-color: var(--cat-mocha-base);
    border: 2px solid var(--cat-mocha-text);
    border-radius: 20px;
}


.rocket {
    color: white;
    height: 200px;
    margin: auto;
}

