/*
FONT CONFIGURATIONS STYLES 
=============================================================================
Google Font Imports (and font variable names): 

'../components/Fonts.js'
=============================================================================
*/ 

@font-face {
    font-family: "SPACEWORM";
  src: url("../public/spaceworm.ttf");
}

@font-face {
    font-family: "SpacePatrol";
    src: url("../public/spacepatrol.TTF")
}
.main {
    font-family: var(--font-exo);
}

.main-topic {
    font-family: "SpacePatrol";
    font-size: 36px;
}

.nav-title {
    font-family: "SpacePatrol";
    font-size: 30px;
}

.topic-summary {
    font-family: var(--font-exo);
}

.dropdown-title {
    font-family: var(--font-exo) !important;
    font-size: 14px;
}

.dropdown-content {
    font-family: var(--font-exo) !important;
    font-size: 14px;
}

code {
    font-family: var(--font-source-code) !important;
    font-size: 15px !important;
}