/*
FONT CONFIGURATIONS STYLES 
=============================================================================
Google Font Imports (and font variable names): 

'../components/Fonts.js'
=============================================================================
*/ 

@font-face {
    font-family: "Impact Label";
  src: url("../public/fonts/Impact-Label.ttf");
}

@font-face {
    font-family: "Impact Label Reversed";
    src: url("../public/fonts/Impact-Label-Reversed.ttf")
}
.main {
    font-family: var(--font-exo);
}

.main-topic {
    font-family: "Impact Label";
    font-size: 36px;
}

.card-header {
    font-family: "Impact Label Reversed" !important;
    font-size: 32px !important;
}

.nav-title {
    font-family: "Impact Label Reversed";
    font-size: 25px;
}

.topic-summary {
    font-family: var(--font-exo);
}

.dropdown-title {
    font-family: var(--font-exo) !important;
    font-size: 14px;
}

.dropdown-content {
    font-family: var(--font-exo) !important;
    font-size: 14px;
}

code {
    font-family: var(--font-source-code) !important;
    font-size: 15px !important;
}