@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/*font-family: 'Space Mono', monospace;*/
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

/*font-family: 'Martian Mono', monospace;*/
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@400;700&display=swap');

/*font-family: 'JetBrains Mono', monospace;*/
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400&display=swap');

/* font-family: 'Anton', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* font-family: 'Source Code Pro', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,400&display=swap');

/* font-family: 'Prompt', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,400;0,700;1,400&display=swap');

/* font-family: 'Righteous', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
  --padding: 15%;
  --dark-bg:

    --full-front-modal: 100;
  --paralax-bg0: 0;
  --paralax-bg1: 1;
  --paralax-mid: 5;
  --paralax-fg0: 9;
  --paralax-fg1: 10;

  /* CATPPUCCIN MOCHA THEME
  https://github.com/catppuccin/catppuccin */
  --cat-mocha-rosewater: #f5e0dc;
  --cat-mocha-flamingo: #f2cdcd;
  --cat-mocha-pink: #f5c2e7;
  --cat-mocha-mauve: #cba6f7;
  --cat-mocha-red: #f38ba8;
  --cat-mocha-maroon: #eba0ac;
  --cat-mocha-peach: #fab387;
  --cat-mocha-yellow: #f9e2af;
  --cat-mocha-green: #a6e3a1;
  --cat-mocha-teal: #94e2d5;
  --cat-mocha-sky: #89dceb;
  --cat-mocha-sapphire: #74c7ec;
  --cat-mocha-blue: #89b4fa;
  --cat-mocha-lavender: #b4befe;
  --cat-mocha-text: #cdd6f4;

  --cat-mocha-subtext1: #bac2de;
  --cat-mocha-subtext0: #a6adc8;
  --cat-mocha-overlay2: #9399b2;
  --cat-mocha-overlay1: #7f849c;
  --cat-mocha-overlay0: #6c7086;
  --cat-mocha-surface2: #585b70;
  --cat-mocha-surface1: #45475a;
  --cat-mocha-surface0: #313244;
  --cat-mocha-base: #1e1e2e;
  --cat-mocha-mantle: #181825;
  --cat-mocha-crust: #11111b;



  --gruv-dark-bg: #282828;
  --gruv-dark-bgBold: #1d2021;

  --gruv-dark-red: #cc241d;
  --gruv-dark-redBold: #fb4934;

  --gruv-dark-green: #98971a;
  --gruv-dark-greenBold: #b8bb26;

  --gruv-dark-yellow: #d79921;
  --gruv-dark-yellowBold: #fabd2f;

  --gruv-dark-blue: #458588;
  --gruv-dark-blueBold: #83a598;

  --gruv-dark-purple: #b16286;
  --gruv-dark-purpleBold: #d3869b;

  --gruv-dark-aqua: #689d6a;
  --gruv-dark-aquaBold: #8ec07c;

  --gruv-dark-orange: #d65d0e;
  --gruv-dark-orangeBold: #fe8019;

  --gruv-dark-fg: #ebdbb2;
  --gruv-dark-fgBold: #fbf1c7;
}

* {
  margin: 0;
  padding: 0;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  text-rendering: optimizeLegibility;
}


/* TRY TO GET GRADIENT TO BE FULL HEIGHT ON ALL PAGES*/
.content {
  min-height: 100%;

}

.main {
  position: relative;
  margin-left: var(--padding);
  margin-right: var(--padding);
  /*border: 1px solid white;*/
  z-index: var(--paralax-mid);
}


.content-brx {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: transparent;
}

.content-br {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: transparent;
  height: 100%;
}

.line-break {
  width: 100%;
  border-top: 2px solid var(--cat-mocha-green)
}

h1 {
  padding-top: 20px;
  font-size: 40px;
  font-family: 'Righteous', cursive;
}

h2 {
    font-family: 'Righteous', cursive;
    color: var(--cat-mocha-peach);
    font-size: 32px;
    text-align: center;
}

h3 {
  color: var(--cat-mocha-peach);
  font-family: 'Righteous', cursive;
  
  font-size: 20px;
}

.code {
  font-size: 16px !important;
}

.code-block {
    font-family: 'Space Mono', monospace;
    font-size: 17px;
}

.term {
  color: var(--cat-mocha-green);
}

