@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'Kanit', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,700;1,400&display=swap');

/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

/*font-family: 'Space Mono', monospace;*/
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

/*font-family: 'Martian Mono', monospace;*/
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@400;700&display=swap');

/*font-family: 'JetBrains Mono', monospace;*/
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400&display=swap');

/* font-family: 'Anton', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* font-family: 'Source Code Pro', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,400&display=swap');

/* font-family: 'Prompt', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,400;0,700;1,400&display=swap');

/* font-family: 'Righteous', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/*      font-family: 'Audiowide', cursive;  */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


/*font-family: 'Bungee', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');


/*font-family: 'Itim', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


/*font-family: 'Londrina Solid', cursive;*/ 
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');

/*    font-family: 'Bakbak One', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

/* font-family: 'Fira Code', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');

:root {
  --padding: 15%;
  --dark-bg:

    --full-front-modal: 100;
  --paralax-bg0: 0;
  --paralax-bg1: 1;
  --paralax-mid: 5;
  --paralax-fg0: 9;
  --paralax-fg1: 10;

  /* CATPPUCCIN MOCHA THEME
  https://github.com/catppuccin/catppuccin */
  --cat-mocha-rosewater: #f5e0dc;
  --cat-mocha-flamingo: #f2cdcd;
  --cat-mocha-pink: #f5c2e7;
  --cat-mocha-mauve: #cba6f7;
  --cat-mocha-red: #f38ba8;
  --cat-mocha-maroon: #eba0ac;
  --cat-mocha-peach: #fab387;
  --cat-mocha-yellow: #f9e2af;
  --cat-mocha-green: #a6e3a1;
  --cat-mocha-teal: #94e2d5;
  --cat-mocha-sky: #89dceb;
  --cat-mocha-sapphire: #74c7ec;
  --cat-mocha-blue: #89b4fa;
  --cat-mocha-lavender: #b4befe;
  --cat-mocha-text: #cdd6f4;

  --cat-mocha-subtext1: #bac2de;
  --cat-mocha-subtext0: #a6adc8;
  --cat-mocha-overlay2: #9399b2;
  --cat-mocha-overlay1: #7f849c;
  --cat-mocha-overlay0: #6c7086;
  --cat-mocha-surface2: #585b70;
  --cat-mocha-surface1: #45475a;
  --cat-mocha-surface0: #313244;
  --cat-mocha-base: #1e1e2e;
  --cat-mocha-mantle: #181825;
  --cat-mocha-crust: #11111b;
}

* {
  margin: 0;
  padding: 0;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  text-rendering: optimizeLegibility;
}


/* TRY TO GET GRADIENT TO BE FULL HEIGHT ON ALL PAGES*/
.content {
  min-height: 100%;

}

.main {
  position: relative;
  /*border: 1px solid white;*/
  z-index: var(--paralax-mid);
}


.content-br {
  padding-top: 90px;
  padding-bottom: 50px;
  background-color: transparent;
  transition-duration: 300ms;
}

h1 {
  padding-top: 20px;
  font-size: 40px;
  font-family: 'Bakbak One', cursive;
}

h2 {
    font-family: 'Bakbak One', cursive;
    color: var(--cat-mocha-peach);
    font-size: 32px ;
    text-align: center;
}

h3 {
  color: var(--cat-mocha-peach);
  font-family: 'Righteous', cursive;
  padding-bottom:10px;
  font-size: 20px;
}

.code-block {
    font-size: 15px;
}

code {
    font-family: 'Space Mono', monospace !important;
}

.term {
  color: var(--cat-mocha-green);
}

.side-nav {
    padding-top: 82px;
    height: 100%;
    overflow-y: scroll;
    font-family: 'Prompt', sans-serif;
    font-size: 13px;
    background-color: var(--cat-mocha-crust);
    
}

.side-nav ul {
    font-family: 'Poppins', sans-serif;
}

.side-nav ul li {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--cat-mocha-base);
    color: var(--cat-mocha-text);
}

.side-nav ul li:hover {
    background-color: var(--cat-mocha-surface0);
}

.side-nav-js-logo {
    font-size: 14px;
    color: var(--cat-mocha-yellow);
    display: inline-block;
    margin-bottom: 5px;
}

.section-title {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: var(--cat-mocha-subtext1);
    color: var(--cat-mocha-crust);
    border-radius: 100px;
}

.dropdown {
    color: white;
    font-size: 19px;
}

.dropdown-content {
    font-size: 15px;
    padding: 20px;
}

.Collapsible__trigger {
    font-family: 'Prompt', sans-serif;
    display: block;
    text-decoration: none;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    color: var(--cat-mocha-green);
    background-color: var(--cat-mocha-mantle);
    border-bottom: 2px solid var(--cat-mocha-surface0);
}

.Collapsible__trigger:after {
    content: url(../public/arrow.svg);
    position: absolute;
    right: 5px;
    top: 7px;
    display: block;
    transition: transform 300ms; }
  .Collapsible__trigger.is-open:after {
    transform: rotateZ(180deg);
    top: 7px;
 }
  .Collapsible__trigger.is-disabled {
    opacity: 0.5;
    background-color: grey; }